$font-primary: "Montserrat", sans-serif;
$color-primary: #FF6060;

.tags-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;

    &__tag {
        min-width: 115px;
        padding: 0 10px;
        box-sizing: border-box;
        height: 25px;
        border-radius: 10px;
        background-color: $color-primary;
        color: #FFFFFF;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 500;
        margin: 5px;
        display: flex; 
        justify-content: center;
        align-items: center;  
        @media screen and (max-width:768px) {
            min-width: 84px;
            height: 18px;
            font-size: 10px;                
        }
    }
}