.collapse {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;


    &__category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #FF6060;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        line-height: normal;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &.rotate {
            transform: rotate(180deg);
        }

        &.large {
            font-size: 24px;
        }

        &.medium {
            font-size: 24px;
        }

        &.small {
            font-size: 16px;
        }
    }

    &__content {
        box-sizing: border-box;
        margin-top: -10px;
        width: 100%;
        overflow: hidden;
        max-height: 0;
        padding: 0 1rem;
        background-color: #F6F6F6;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    }

    &__content.open {
        max-height: 500px; 
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .slide-in {
        animation: slideIn 0.3s ease-in-out forwards;
    }

    @keyframes slideIn {
        0% {
            transform: translateY(-20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &.large {
        width: 80%;
        
        .collapse__category {
            font-size: 22px;
            font-weight: 700;
            height: 54px;
        }
    }

    &.medium {
        width: 60%;
        .collapse__category {
            font-size: 16px;
            font-weight: 700;
            height: 52px;
        }

    }

    &.small {
        width: 90%;
        .collapse__category {
            font-size: 12px;
            font-weight: 700;
            height: 30px;
        }

    }    
}
