.notFound-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;   
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    justify-content: space-around;
    height: 70vh;

}

.error-code{
    font-size: 288px;
    font-weight: 700;
    color: #FF6060;
}

.error-message {
    font-size: 36px;
    font-weight: 500;

}

.back-link {
    color: #000000;
    font-size: 18px;
    font-weight: 500;   
}